aiofiles
aiohttp
aiosignal
aiosqlite
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
Flask
Flask-Cors
fonttools
fqdn
frozenlist
gitdb
GitPython
gunicorn
idna
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter-events
jupyter-server-mathjax
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-git
jupyterlab-pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
openai
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
svgwrite
tenacity
terminado
threadpoolctl
tinycss2
tomli
torch
tornado
tqdm
traitlets
Tree
typing_extensions
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
y-py
yarl
ypy-websocket